<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>history</title>
		<style>body{
		text-align: center; color:green;
	} 
	</style>
	
</head>
<body>
	
	<h1>OUR HISTORY:</h1>
	<h3>

Maccabi Haifa, founded in 1913, is one of Israel's oldest and most successful football clubs. Over the years, it has become known for its competitive spirit and strong community support. The club has won numerous Israeli championships and cups, establishing itself as a dominant force in Israeli football. Internationally, Maccabi Haifa has participated in various European competitions, achieving notable victories against prestigious clubs. The team's home stadium, Sammy Ofer Stadium, is a symbol of its enduring presence and influence in Israeli sports.</h3>
 
 	<form action='/history' method="POST">> 


		<button type="submit" value="submit" class="btn">BACK</button>
		
	</form>

</body>
</html>