
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LOGIN</title>
	<style>body{
		text-align: center;
	} 
	</style>
	
</head>
<body>
	<h1>HEY!! PLEASE LOGIN</h1>

	<form action='/' method="POST">> 
		

      	<input type="text" name="email" placeholder="enter email" >
		
      	<div class="input-container">
        
        
     	<input type="text" name="password" placeholder="enter password" >
		
		


		<button type="submit" value="submit" class="btn">LOGIN</button>
		
	</form>
	<br>
	<a href = '/signup'>New here? click to Sign up </a>
	<p>{{error}}</p> 

</body>
</html>