<!DOCTYPE html>
<html>
<head>
	<style type="text/css"></style>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>THE PREIMUM PLAYERS</title>
	<style>
	body{
		text-align: center; background-color: greenyellow ;
		font-size: 20px;
	} 
	</style>
	
</head>
<body>
	<h1>MACCABI HAIFA SQUAD:</h1>

	<h3>GOALKEEPERS: Sherif Cayouf(40), Thomas Soltany(13), Roee Fooks(77)</p>
	<br>
	<h3>DEFENDERS: Abdoluay Seck(30), Oleksandr Syrota(34), Sean Goldberg(3), Maor Kandil(23), Pierre Cornuo(27), Rami Gershon(55), Ilay Feingold(22), Daniel Sundgern(2), Roey Elimelech(42) </p>
	<br>
	<h3>MIDFILDERS: Mahmod Jaber(26), Gadi Kinda(6), Ali Mohamad(4), Dolev Haziza(8), Lior Refaelov(11), Lior Kasa(14), Kenny Sayef(15), Ilay Hagag(28), Jonny Naor(18), Diaa Saba(91), Eitan Azolay(24)</p>
	<br>
	<h3>STRIKERS: Prenzi Peiru(9), Dean David(21), Erik Shoranuv(19)</p>
	<br>


	<h3>Our coach: Barak Bachar</h3>
	<form action='/players' method="POST">> 


		<button type="submit" value="submit" class="btn">BACK</button>
		
	</form>
	<img src = "https://s.hs-data.com/bilder/teamfotos/640x360/1179.jpg">
	 

</body>
</html>