<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>rewards</title>
		<style>body{
		text-align: center; color: green;
	} 
	</style>
	
</head>
<body>
	
	<h1>OUR BEUTIFULL REWARDS:</h1>
	<br>
	<p>x15 STATE CHAMPIONSHIP</p>
	<br>
	<p>x6 STATE CUP</p>
	<br>
	<p>x6 THE TOTO CUP</p>
	<br>
	<p>x5 THE CHAMPION OF CHAMPIONS</p>
	<br>
	<p>x3 HOME STAGE CHAMPION LEAUGE</p>
	<br>

 	<form action='/rewards' method="POST">> 


		<button type="submit" value="submit" class="btn">BACK</button>
		
	</form>

</body>
</html>