<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>rewards</title>
		<style>body{
		text-align: center; color: black;
		font-size: 20px;
	 
  background-color: greenyellow;}
	</style>
	
</head>
<body>
	
	<h1>OUR BEUTIFULL REWARDS:</h1>
	<br>
	<h3>x15 STATE CHAMPIONSHIP</h3>
	<br>
	<h3>x6 STATE CUP</h3>
	<br>
	<h3>x6 THE TOTO CUP</h3>
	<br>
	<h3>x5 THE CHAMPION OF CHAMPIONS</h3>
	<br>
	<h3>x3 HOME STAGE CHAMPION LEAUGE</h3>
	<br>

 	<form action='/rewards' method="POST">> 


		<button type="submit" value="submit" class="btn">BACK</button>
		
	</form>
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6rBW52RvkyiQOqWqmS2A94pm9jkq28I359OlHwuPMujpbvABNbmY77liBKywqkg-h0Lk&usqp=CAU">
</body>
</html>