<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>jiny's page</title>
</head>
	
	<h1>WELCOME TO JINY'S PAGE!</h1>
</head>




<body>
	<p>i guess you want to know your fortune, enter yout bith month click submit and you'll see</p>
	<br/>
	<form action="/home" method="POST">
		 <input type="text" name="birthmonth" placeholder="Birth Month" >
		 <input type="submit" value="tell my fortune" />
	</form>








</body>
</html>