<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>jiny's page</title>
</head>
	
	<h1>WELCOME TO JINY'S PAGE!</h1>
</head>




<body>
	<p>i guess you want to know your fortune</p>
	<br/>
	<form action="/home" method="POST">
		 <input type="text" name="birthmonth" placeholder="Birth Month" >
		 <input type="submit" value="Submit" />
	</form>
/>


	<!-- <a href ={{url_for('fortune')}}>Tell me my fortune</a> -->
	<a href="fortune.html"><button>tell my fortune</button></a>




</body>
</html>