<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HOME</title>
</head>
<body>
	<h1>Welcome!! enter quote or sign out</h1>

	<form action='/home?f=f1' method="POST">> 
	
		<input class="input-field" type="text" placeholder="write quote" name="quote">
		<button type="submit" value="submit" class="btn">SEND QUOTE</button>
		<br>
	</form>
	<form action='/home?f=f2' method="POST">
		<button href = '/' type="submit" value="submit" class="btn">SIGN OUT</button>
	</form>
		
	


</body>
</html>