<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LOGIN</title>
</head><h1>WELCOME TO JINY'S PAGE, PLEASE LOGIN</h1></head>
<body>

	<form action='/' method="POST">> 
		<input class="input-field" type="text" placeholder=" enter Username" name="username">
      	</div>

      
      	<div class="input-container">
        
        
     	<br>
      	
		<input type="text" name="birthmonth" placeholder="enter Birth Month" >
		<br>

		<button type="submit" value="submit" class="btn">Login</button>
	</form>


</body>
</html>